www.basat.dev, basat.dev {
    root * /home/basat_site
    file_server
}

www.api.basat.dev {
    redir https://basat.dev/{uri}
}

api.basat.dev {
    reverse_proxy /bhss/* localhost:8189
    # üst satırda ki gibi mesela /bkro/* içinde yine aynı sunucuda başka bir portta çalışan drogon uygulamasına yönlendirebilirsin.
    # örnek aşağıda ki satır basat kafe restoran otomasyonu(bkro) gibi örneklendirilebilir.
    # reverse_proxy /bkro/* localhost:8190
}

img.basat.dev {
    root * /root/product-images
    encode gzip
    file_server
}